<script src="/static/assets/js/jquery-1.11.1.min.js"></script>
<script src="/static/layer/layer.js"></script>
<script src="/static/layer/extendLayer.js"></script>
<script src="/static/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/My97DatePicker/WdatePicker.js"></script>
<script src="/static/metroWeb/jquery.validate.js"></script>
<script src="/static/metroWeb/jquery.validate.min.js"></script>
<script src="/static/metroWeb/messages_zh.js"></script>
<script src="/static/js/ajaxMethod.js"></script>
