<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.coding.temp.dao.DataBaseMapper" >
  <resultMap id="BaseResultMap" type="com.coding.temp.entity.DataBase" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="db_desc" property="dbDesc" jdbcType="VARCHAR" />
    <result column="name_space" property="nameSpace" jdbcType="VARCHAR" />
    <result column="connect_id" property="connectId" jdbcType="BIGINT" />
    <result column="db_prefix_source" property="dbPrefixSource" jdbcType="VARCHAR" />
    <result column="prefix_flag" property="prefixFlag" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, code, db_desc, name_space, connect_id, db_prefix_source, prefix_flag, user_id, 
    create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from data_base
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from data_base
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.coding.temp.entity.DataBase" >
    insert into data_base (id, name, code, 
      db_desc, name_space, connect_id, 
      db_prefix_source, prefix_flag, user_id, 
      create_time)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, 
      #{dbDesc,jdbcType=VARCHAR}, #{nameSpace,jdbcType=VARCHAR}, #{connectId,jdbcType=BIGINT}, 
      #{dbPrefixSource,jdbcType=VARCHAR}, #{prefixFlag,jdbcType=INTEGER}, #{userId,jdbcType=BIGINT}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.coding.temp.entity.DataBase" >
    insert into data_base
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="dbDesc != null" >
        db_desc,
      </if>
      <if test="nameSpace != null" >
        name_space,
      </if>
      <if test="connectId != null" >
        connect_id,
      </if>
      <if test="dbPrefixSource != null" >
        db_prefix_source,
      </if>
      <if test="prefixFlag != null" >
        prefix_flag,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="dbDesc != null" >
        #{dbDesc,jdbcType=VARCHAR},
      </if>
      <if test="nameSpace != null" >
        #{nameSpace,jdbcType=VARCHAR},
      </if>
      <if test="connectId != null" >
        #{connectId,jdbcType=BIGINT},
      </if>
      <if test="dbPrefixSource != null" >
        #{dbPrefixSource,jdbcType=VARCHAR},
      </if>
      <if test="prefixFlag != null" >
        #{prefixFlag,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.coding.temp.entity.DataBase" >
    update data_base
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="dbDesc != null" >
        db_desc = #{dbDesc,jdbcType=VARCHAR},
      </if>
      <if test="nameSpace != null" >
        name_space = #{nameSpace,jdbcType=VARCHAR},
      </if>
      <if test="connectId != null" >
        connect_id = #{connectId,jdbcType=BIGINT},
      </if>
      <if test="dbPrefixSource != null" >
        db_prefix_source = #{dbPrefixSource,jdbcType=VARCHAR},
      </if>
      <if test="prefixFlag != null" >
        prefix_flag = #{prefixFlag,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.coding.temp.entity.DataBase" >
    update data_base
    set name = #{name,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      db_desc = #{dbDesc,jdbcType=VARCHAR},
      name_space = #{nameSpace,jdbcType=VARCHAR},
      connect_id = #{connectId,jdbcType=BIGINT},
      db_prefix_source = #{dbPrefixSource,jdbcType=VARCHAR},
      prefix_flag = #{prefixFlag,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>