<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>数据表</title>
    <#include "../common/include_css.html">
</head>
<body class="fixed-top">
<!--头部-->
<#include "../common/header.html">
<!--主体部分-->
<div id="container" class="row-fluid sidebar-closed">
    <!--右侧主体-->
    <div id="main-content">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <h4 class="page-title"></h4>
                    <ul class="breadcrumb">
                        <li>
                            <span>首页</span>
                            <span class="divider">/</span>
                        </li>
                        <li class="active">
                            数据表列表
                        </li>
                    </ul>
                </div>
                <div id="page-wraper">
                    <div class="row-fluid">
                        <!--主要编写的页面位置-->
                        <div class="span12">
                            <div class="widget blue">
                                <div class="widget-body">
                                    <div class="form-inline" id="searchForm">
                                        <div class="form-group">
                                            <input type="hidden" name="pageCount" id="pageCountParam" />
                                            <input type="hidden" name="dataBaseId" id="dataBaseId" value="${dataBaseId}"/>
                                            <button class="btn btn-primary btn-sm" type="button" onclick="loadPage()" >重新加载</button>
                                            <div class="pull-right" style="padding-bottom: 10px;">
                                                <a class="btn btn-default" href="javascript:history.go(-1);" type="button">返回上一页</a>
                                            </div>
                                        </div>
                                    </div>
                                    <table class="table table-striped table-bordered table-advance table-hover">
                                        <thead>
                                        <tr>
                                            <th>序号</th>
                                            <th>表名称</th>
                                            <th>表描述</th>
                                            <th>命名空间</th>
                                            <th>对象名称</th>
                                            <th>对象变量名称</th>
                                            <th width="20%">操作</th>
                                        </tr>
                                        </thead>
                                        <tbody id="itemsPanel">
                                        </tbody>
                                    </table>
                                    <div class="pagination pagination-centered">
                                        <ul id="pageModel">

                                        </ul>
                                        <select id="pageCount" class="input-mini" style="float: right;">
                                            <option value="10" selected="selected">10</option>
                                            <option value="25">25</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                            <option value="1000">1000</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--模型-->
<table style="display: none;">
    <tr id="skillModel">
        <input type="hidden" class="id" key="id">
        <td key="num"></td>
        <td key="name"></td>
        <td key="tableDesc"></td>
        <td key="nameSpace"></td>
        <td key="objectName"></td>
        <td key="objectVariableName"></td>
        <td>
            <a class="btn btn-primary btn-sm create-e" title="生成字段">生成字段</a>
            <a class="btn btn-primary btn-sm list-e" title="字段列表">字段列表</a>
            <a class="btn btn-primary btn-sm download-e" title="字段列表">下载</a>
        </td>
    </tr>
</table>
<#include "../common/footer.html">
<#include "../common/include_js.html">
<script src="/static/js/tables/index.js"></script>
</body>
</html>
