<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coding.temp.dao.ConnectMapper" >
    <select id="selectPageList" resultMap="BaseResultMap" parameterType="com.coding.temp.entity.Connect" >
        select
        <include refid="Base_Column_List" />
        from connect
        where 1=1
        limit #{startIndex,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
    </select>
    <select id="selectPageCount" resultType="java.lang.Integer" parameterType="com.coding.temp.entity.Connect" >
        select
        count(1)
        from connect
        where 1=1
    </select>
</mapper>