@charset "utf-8";
/* Zhang Yongwei */
.form-inline{
    padding-bottom: 10px;
}
.container-fluid{
    height:80%;
}
.custom-pointer{
    cursor:pointer;
    position: absolute;
    right: -7px;
    top: 12px;
}
.pagination .active{
    color:#fff;
    background-color: #4a8bc2;
}
.treeActive{
    background-color: #4A8BC2;
    color: #fff;
}
.form-horizontal span.error{
    color: red;
    position: relative;
    left: 20px;
}
.tree {
    min-height:20px;
    padding:19px;
    margin-bottom:20px;
    background-color:#fbfbfb;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05)
}
.tree li {
    list-style-type:none;
    margin:0;
    padding:10px 5px 0 5px;
    position:relative
}
.tree li::before, .tree li::after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto
}
.tree li::before {
    border-left:1px solid #999;
    bottom:50px;
    height:100%;
    top:0;
    width:1px
}
.tree li::after {
    border-top:1px solid #999;
    height:20px;
    top:25px;
    width:25px
}
.tree li span {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #999;
    border-radius:5px;
    display:inline-block;
    padding:3px 8px;
    text-decoration:none
}
.tree li>span {
    cursor:pointer
}
.tree>ul>li::before, .tree>ul>li::after {
    border:0
}
.tree li:last-child::before {
    height:30px
}
/*.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {*/
    /*background:#eee;*/
    /*border:1px solid #94a0b4;*/
    /*color:#000*/
/*}*/
.tree li>span:hover{
    background:#4A8BC2;
    border:1px solid #fff;
    color:#fff;
}

/*左右分栏*/
.leftContext {
    line-height:30px;
    height:380px;
    min-width: 300px;
    float:left;
    padding:15px;
}
.rightContext {
    border-left: 2px solid #BDBDBD;
    min-width: 400px;
    height:380px;
    float:left;
    padding:15px;
}
.labelH4 {
    font-size: 17.5px;
}
input.search-input{
    box-sizing: border-box;
    -moz-box-sizing:border-box;
    width: 100%;
    margin-bottom: 5px;
    height: auto;
}
div.selectionHeader {
    box-sizing: border-box;
    -moz-box-sizing:border-box;
    width: 100%;
    margin-bottom: 5px;
    height: auto;
    padding: 5px 7px;
}

/**弹窗重写**/
.modal_1.fade.in {
    top: 10%;
}

.modal_1.fade {
    top: -25%;
    -webkit-transition: opacity .3s linear,top .3s ease-out;
    -moz-transition: opacity .3s linear,top .3s ease-out;
    -o-transition: opacity .3s linear,top .3s ease-out;
    transition: opacity .3s linear,top .3s ease-out;
}
.modal_1 {
    position: fixed;
    top: 10%;
    left: 15%;
    z-index: 1050;
    width: 70%;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,0.3);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
    box-shadow: 0 3px 7px rgba(0,0,0,0.3);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}


.customBtn{
    display: inline-block;
    padding: 14px 13px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

/*课程表*/
.time_line{height: 55px;line-height: 54px;}
.time_line .comblueBtn{width: 120px;height: 30px;line-height: 30px;text-align: center;margin:12px 20px 0px 20px;}
.week_month i{cursor: pointer;}
.week_month .cradio{padding:0px 20px;background-position: 0px 2px;}
.week_month .cradio.on{background-position: 0px -36px;}
.time_order{padding-left: 5px;display: inline-block;}
.time_order a{font-size: 14px;color: #468cfe;padding:0px 15px;text-decoration:none;}
.fr a{text-decoration:none;}
.time_order a.active{background-color: #468cfe;color: #fff;}
.course_table{ background: #fff;border-collapse: collapse;}
.course_table tr td{font-size: 16px;height: 60px;text-align: center;border:1px solid #d7e3f1;}
.course_table tr td.nobor{border-bottom: 0 none;border-top:  none;}
.course_table tr td.nobor.topborder{border-bottom: 1px solid #d7e3f1;}
.course_table tr.firstline td{ border:0 none;height:56px;line-height: 56px;}
.course_table tr.firstline td.timerow{border-left: 1px solid #d7e3f1;border-bottom: 1px solid #d7e3f1;}
.course_table tr.firstline td.lastrow{border-right: 1px solid #d7e3f1;}
.point{display: inline-block;position: relative;}
.course_table tr td hr{height:1px;border-bottom:0 none;border-left:0 none;border-right:0 none;border-top:1px dashed #e1eaf5;}
.time_tableBox{position: relative;width: 100%;}
.set_timebox{position: absolute;}
.set_timebox div {border:1px solid #468cfe;display: table-cell;width: 133px;height: 58px;vertical-align: middle;text-align: center;}
.set_timebox div span{font-size: 14px; color: #468cfe;display:inline-block;vertical-align:middle;line-height: 1.6;}
.set_time1{top:116px;left: 365px;}
.set_time2 div {height: 89px;}
.set_time2{top:476px;left: 230px;}
.weekClassInfo{width: 100%;}
.weekClassInfo .course_table .firstline td {border-right: 1px solid #d7e3f1;background: #f6f9fe;}
.fr{ float:right; _display:inline;}
.combor{border:1px solid #d7e3f1;}
.blueBg{background: #468cfe;} /*蓝色*/
.pap_blueBg{background: #f6f9fe;} /*淡蓝色*/
.fblue{color: #468cfe;} /*蓝色字体颜色*/
.icon_total{display: inline-block;width: 30px;height: 30px;background: url("../images/total.png") no-repeat;background-size: 100%;margin: 0 auto;}
.icon_single{display: inline-block;width: 30px;height: 30px;background: url("../images/single.png") no-repeat;background-size: 100%;margin: 0 auto;}
.icon_double{display: inline-block;width: 30px;height: 30px;background: url("../images/double.png") no-repeat;background-size: 100%;margin: 0 auto;}
.icon_other{position: absolute;left: 5px;top: 15px;display: block;width: 30px;height: 30px;background: url("../images/other.png") no-repeat;background-size: 100%;}
.icon_total_small{display: inline-block;width: 20px;height: 20px;background: url("../images/total.png") no-repeat;background-size: 100%;margin: 0 auto;}
.icon_single_small{display: inline-block;width: 20px;height: 20px;background: url("../images/single.png") no-repeat;background-size: 100%;margin: 0 auto;}
.icon_double_small{display: inline-block;width: 20px;height: 20px;background: url("../images/double.png") no-repeat;background-size: 100%;margin: 0 auto;}
.icon_other_small{display: inline-block;width: 20px;height: 20px;background: url("../images/other.png") no-repeat;background-size: 100%;margin: 0 auto;}
.classCard{position: relative;}
/*
.balance{
     background: url("../images/customBtn/balance.png") no-repeat;
 }
.billings{
    background: url("../images/customBtn/billings.png") no-repeat;
}
.cancel{
    background: url("../images/customBtn/cancel.png") no-repeat;
}
.changepwd{
    background: url("../images/customBtn/changepwd.png") no-repeat;
}
.contacts{
    background: url("../images/customBtn/contacts.png") no-repeat;
}
.del{
    background: url("../images/customBtn/delete.png") no-repeat;
}
.delivery{
    background: url("../images/customBtn/delivery.png") no-repeat;
}
.detail{
    background: url("../images/customBtn/detail.png") no-repeat;
}
.edit{
    background: url("../images/customBtn/edit.png") no-repeat;
}
.insert{
    background: url("../images/customBtn/add.png") no-repeat;
}
.frozen{
    background: url("../images/customBtn/frozen.png") no-repeat;
}
.logistics{
    background: url("../images/customBtn/logistics.png") no-repeat;
}
.pay{
    background: url("../images/customBtn/pay.png") no-repeat;
}
.print{
    background: url("../images/customBtn/print.png") no-repeat;
}
.resetpwd{
    background: url("../images/customBtn/resetpwd.png") no-repeat;
}
.send{
    background: url("../images/customBtn/send.png") no-repeat;
}
.sendLogistics{
    background: url("../images/customBtn/sendLogistics.png") no-repeat;
}
.completeNumber{
    background: url("../images/customBtn/completeNumber.png") no-repeat;
}
.onSale{
    background: url("../images/customBtn/onSale.png") no-repeat;
}
.noSale{
    background: url("../images/customBtn/noSale.png") no-repeat;
}
.toCorp{
    background: url("../images/customBtn/toCorp.png") no-repeat;
}*/
