<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>汇悦城协商会议录音</title>

<!--可无视-->
<link rel="stylesheet" type="text/css" href="/static/recording/css/normalize.css" />
<link rel="stylesheet" type="text/css" href="/static/recording/css/reset.css">

<!--布局样式，意义不大-->
<link rel="stylesheet" href="/static/recording/css/demo.css">

<!--核心样式-->
<link rel="stylesheet" href="/static/recording/dist/css/ckin.css">

</head>
<body>
	<div class="container">
		<video poster="/static/recording/228.png" src="/static/recording/house.ogg" data-ckin="default" data-overlay="1"></video>
	</div>
<script src="/static/recording/dist/js/ckin.js"></script>
</body>
</html>